nav{
    background: var(--bg-primary-color);
    width: 60%;
    min-width: 300px;
    height: inherit;
    border-right: solid 1px var(--mode-color);
    z-index: 102;
    padding: 5px;
    overflow-y: auto;

}

#navHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 4px 15px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 15px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 15px -2px rgba(0,0,0,0.75);
    margin-bottom: 25px;
    color: var(--main-color);
    

}

#navHeader >h1{
    font-family: "Jersey 10 Charted", sans-serif;
  font-weight: lighter;
  font-size: 1.5rem;
  font-style: normal;

}

nav #navHeader i{
    display: none;
    cursor: pointer;
    font-size: 1.3rem;    
}


.articleButtons{
    display: none;
}

.labels > h2{
    margin:0;
}

.labels{
    display: block;    
    cursor: pointer;
    color: var(--main-color);
    user-select: none;
    margin-bottom: 20px;
    padding: 20PX 0;
    border-bottom: solid 1px #2d2d2d;
    box-shadow: 0px 1px 5px 0 #000000;
}
.labels:hover{
    color: var(--second-color);
   
}

#button1:checked ~ #labelDescription{

}

#description{
    visibility: visible;
    height: fit-content;
}

.articleImg{
    display: block;
    margin:auto;
    width: 50%;
}


#button2:checked ~#howToPlay, #button1:checked~#description{
    visibility: hidden;
    height: 0;
}

article{
    display: block;
    padding-left:5px;
    width: 100%;
    color: var(--tird-color);
    background: var(--bg-primary-color);
}

.menuMoveVisible{
    transform:translateX(0%);

}

.mobile{
    display: none;
}

.menuButton{
    position: fixed;
    z-index: 0;
    font-size: 20px;
    left: 20px;
    top: 20px;
    color: var(--main-color);
}

@media(max-width:600px){
    body{
     line-height: 1rem;
     font-size: 2vw;

    }

    nav{
        position: fixed;
        transition: 1s;
        transform: translateX(-100%);

    }

    .mobile{
        display: block !important;
    }

    #navHeader{
        justify-content: space-between;
    }
}